.main{
    
    background-image: linear-gradient(to bottom, #c7ccff, #ffffff);
}
button{
    border: 2px solid #1D4ED8;
}
.button:hover{
    border: 2px solid black;
}
.box{
    width: 55rem;
}
@media (max-width:768px) {
    .box{
        width: 22rem;
    }
}

.box img{
    width: 100%;
    mask-image: url('../../Assets/images/mask-banner.png');
    -webkit-mask-image: url('../../Assets/images/mask-banner.png');
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 60%;
    -webkit-mask-size: 60%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}
